﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Tarakesh Gogi<br />
    1121 N College Drive, Maryville, Missouri<br />
    <abbr title="Phone">P:</abbr>
    660.528.5882
</address>

<address>
    <strong>Support:</strong> <a href="mailto:s525005@mail.nwmissouri.edu">s525005@mail.nwmissouri.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:gogitarakesh@gamil.com">gogitarakesh@gamil.com</a>
</address>
