﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/a.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    One Place Find All...
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/b.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/c.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/d.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Books Catagory</h2>
        <ul>
            <li>Books types</li>
            <li>Cost Comparison</li>
            <li>Why us?</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Genre</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">programming</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699314">love</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">horror</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">mystry</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Top Selling</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=518008">Inferno</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699320">Two States</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398602">Da vinci code</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=398603">Java</a></li>
          
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Top selling Authors</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517851">chetah bhagat</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517852">dan brown</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=517853">Alex</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398609">Tarakesh</a></li>
        </ul>
    </div>
</div>
